@inject NavigationManager Navigation

<h3>Admin Portal</h3>
<ul>
    <li><a href="/admin/families">Families</a></li>
    <li><a href="/admin/classes">Classes</a></li>
    <li><a href="/admin/reports">Reports</a></li>
</ul>