@* Top navigation: horizontal list that collapses on mobile *@
<nav class="menu-horizontal" aria-label="Primary">
    <ul class="nav-list">
        <li><NavLink href="/" Match="NavLinkMatch.All" class="top-link">Home</NavLink></li>        
        <li><NavLink href="/photos" class="top-link">Photos</NavLink></li>
        <li><NavLink href="/dance-wear" class="top-link">Dance Wear</NavLink></li>
        <li><NavLink href="/contact" class="top-link">Contact</NavLink></li>
        <li><NavLink href="/about" class="top-link">About</NavLink></li>
    </ul>
</nav>
